{% extends 'base.html' %}

{% block content %}
    <h1>About</h1>
    <p>Welcome to the ShortLy!</p>
    <p>A URL shortener is a tool or service that takes a long URL and creates a shorter, 
        more manageable version of it. The shortened URL redirects users to the original, 
        longer URL when clicked. The primary purpose of a URL shortener is to condense lengthy 
        URLs into shorter ones, which are easier to share, remember, and use in various online 
        platformsThis URL shortening service is developed using Python and Flask 
        framework for the backend, with SQLite as the database. It allows you to 
        shorten long URLs into compact and shareable links.</p>
    <p>Created by Antriksh Gupta.</p>
    <p>Connect with me on <a href="https://www.linkedin.com/in/antriksh-gupta-269994200/">LinkedIn</a>.</p>

{% endblock %}
