{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Search Results{% endblock %}</h1>

    <form action="{{ url_for('search') }}" method="get">
        <input type="text" name="query" placeholder="Enter your search query" value="{{ search_query or '' }}">
        <input type="submit" value="Search">
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">New URL</th>
                <th scope="col">Original</th>
                <th scope="col">No. of clicks</th>
                <th scope="col">Date Created</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        {% if url.alias %}
                            {{ request.host_url }}{{ url.alias }}
                        {% else %}
                            {{ url.short_url }}
                        {% endif %}
                    </td>
                    <td>{{ url.original_url }}</td>
                    <td>{{ url.clicks }}</td>
                    <td>{{ url.created }}</td>
                    <td>{{ url.notes }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
